.viewAllStores {
    height: 100%;
}

.viewAllStores__buttonContainer {
    height: 10%;
    padding: 1% 30% 0 30%;
    display: flex;
    justify-content: space-around;
}

.viewAllStores__button {
    text-decoration: none;
    color: white;
    height: 100%;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 12px;
    font-size: 0.84vw;
}

.viewAllStores__table {
    height: 87%;
}

.center {
    text-align: center;
}